.wrapDivImage{
    display: flex;
}
.targetViewRatbutton{
    
}

/* in price pr night and total price view section  */
.perNightSection{
    
}
.total{

}
.targetImageViewPrice{
    height: 100px;
    width: 100px;
}
/* wrap price per night and total price text */
.wrapperBox{
border: 2px solid pink;
}
/* main box wrap image box and text total price Box */
.mainBox{
display: flex;
border: 2px solid green;
justify-content: center;
}

.divHotelbyCountery{
width: 80%;
height: 400px;
background-color: green;

}
.divHotelbyCounteryImage{
width: 500px;
height: 400px;
}
.pTagHotelbyCountery{
    font-size: 20px;
} 
.viewRateButton{
    background-color: blueviolet;
}  


/* summary section */
.roomTypeDivWrapper{

}
/* below control p tag */
.roomtype{

}

/* summary room price section */

/* below control p tag-- roomPrice */
/* mainbox summary */
#summaryWrapper{
border: solid 2px green;
}
/* individual box summary */
.roomTypeDivWrapper{
    border: solid 2px red;  
}
.roomPrice{

}

.total{

}
.totalWrapper{

}

